body {
  /* centering all items on the page  */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(to right, lightblue, darkblue);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

.location-form-container {
  display: flex;
  gap: 20px;
}

/* creating spinner looking circle*/
.loading-spinner {
  border: 2px solid black;
  border-top: 2px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

/*making the spin animation*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*class for hiding things*/
.hidden {
  display: none;
}

.weather-data-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
  height: 500px;
  width: 500px;
  border: 2px solid white;
}

.sunny-icon {
  fill: orange;
}

.cold-icon {
  fill: white;
}

.mild-icon {
  fill: blue;
}

.icon {
  width: 200px;
}

.temp-container {
  font-size: 40px;
  margin-bottom: 30px;
}

.feels-like-container {
  font-size: 25px;
  margin-bottom: 30px;
}

.high-low-container {
  font-size: 20px;
  margin-bottom: 30px;
}

.conditions-container {
  font-size: 15px;
  margin-bottom: 30px;
}
